version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - type: bind
        source: /Users/rathchanondh/Desktop/DST/Year3/DevOps/burrrtongg/backend/prometheus.yml
        target: /etc/prometheus/prometheus.yml
    command: --config.file=/etc/prometheus/prometheus.yml