apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  # Using LoadBalancer for simplicity. For production, consider using an Ingress controller.
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
