apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  # Using LoadBalancer for simplicity. For production, consider using an Ingress controller.
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
